
		.pad_mar {
			padding: 200px;
			text-align: center;
		}
		
		.nav_sty ul li a {
			font-size: 23px;
			color: white;

		}

		table tr th td {
			border: 1px solid black;
		}
		
		.user_info {
			border: 1px solid blue;
			height: 30px;
			width: 150px;
			text-align: center;
		}